extends layout

block content
  .container
    .row
      .col-md-12
        .card.card-image(style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);")
          .text-white.text-center.py-5.px-4.my-5
            div
              h1.card-title.pt-3.mb-5.font-bold
                strong Create your beautiful website with MDBootstrap
              p.mx-5.mb-5
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat,
                | laboriosam, voluptatem, optio vero odio nam sit officia accusamus
                | minus error nisi architecto nulla ipsum dignissimos. Odit sed qui,
                | dolorum!.
              a.btn.btn-md.btn-ptc
                |  View project

  .container
    .jumbotron
      h1.display-4 Hello, world!
      p.lead
        | This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
      hr.my-4
      p
        | It uses utility classes for typography and spacing to space content out within the larger container.
      p.lead
        a.btn.btn-primary.btn-lg(href="#" role="button") Learn more
  .container
    .jumbotron
      h1.display-4 Hello, world!
      p.lead
        | This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
      hr.my-4
      p
        | It uses utility classes for typography and spacing to space content out within the larger container.
      p.lead
        a.btn.btn-primary.btn-lg(href="#" role="button") Learn more
  .container
    .jumbotron
      h1.display-4 Hello, world!
      p.lead
        | This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
      hr.my-4
      p
        | It uses utility classes for typography and spacing to space content out within the larger container.
      p.lead
        a.btn.btn-primary.btn-lg(href="#" role="button") Learn more
