nav.navbar.fixed-top.navbar-expand-lg.navbar-no-bg
  .container
    a.navbar-brand(href="#")
      img(src="/images/lg4.png" width="74" height="32" alt="")
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon  
      
    // Collect the nav links, forms, and other content for toggling
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href="#") Home
        li.nav-item
          a.nav-link(href="#") Wir Bretonen
        li.nav-item
          a.nav-link(href="#") Unser Wohnprojekt
        li.nav-item
          a.nav-link(href="#") Kontakt
        li.nav-item
          a.nav-link(href="#") Events
        